bin/
ui/node_modules/
ui/dist/
ui/storybook-static/
internal/web/embed/public/*
!internal/web/embed/public/.keep
internal/sourcefs/embed/source/*
!internal/sourcefs/embed/source/.keep
internal/indexfs/embed/index.json
*.log
.DS_Store
